<div class="container">
    <div class="p-grid p-justify-end">
        <div class="div1">
            <p-button label="Salud financiera" icon="pi pi-arrow-right" (onClick)="saludFinanciera()"></p-button>
        </div>
        <div class="div1">
            <p-button label="Resumen del mes" icon="pi pi-arrow-right"></p-button>
        </div>
        <div class="div1">
            <p-button label="Conoce más de nosotros" icon="pi pi-globe" routerLink="/hey-banco" target="_blank"></p-button>
        </div>
    </div>
</div>
<div class="container2">
    <div class="p-grid p-justify-end">
        <div class="div1">
            <p-button label="Tu Salud financiera" icon="pi pi-arrow-right"></p-button>
        </div>
        <div class="div1">
            <p-image src="assets/img/Hey_Banco.svg.png" width="150"></p-image>
        </div>
    </div>
</div>