.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 172.08px);
    flex-direction: column;
}
body{
    overflow: hidden;
}
.div1{
    padding: 10px;
}
  .div2 {
    background-color: #ccc;
    display: block;
  }
