.container {
    display: inline-flex;
    justify-content: top;
    align-items: center;
    height: calc(100vh - 172.08px);
    flex-direction: column;
    margin-top: 50px;
}
.container2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 172.08px);
    flex-direction: row;
}
.div1 {
    margin-left: 100px;
}